<nav class="navigation">
    <ul class="navigation-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="https://github.com/popularowl/11ty-static-web" target="_blank">GitHub</a></li>
    </ul>
</nav>