---
permalink: /js/bundle.js
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% include "node_modules/alpinejs/dist/cdn.js" %}
{% include "node_modules/@alpinejs/intersect/dist/cdn.js" %}
{% include "content/js/scripts.js" %}
