---
permalink: /assets/css/bundle.css
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{% include "content/assets/css/reset.css" %}
{% include "content/assets/css/variables.css" %}
{% include "content/assets/css/styles.css" %}
{% include "content/assets/css/syntax.css" %}
{% include "content/assets/css/switch-darkmode.css" %}