---
layout: layouts/base.njk
---
<div class="entry-content">
    
    {{ content | safe }}
    
    <div class="posts-list">
        <ol reversed class="postlist" style="counter-reset: start-from {{ collections.blog.length + 1 }}">
            {% for post in collections.blog | reverse %}
            <li class="postlist-item{% if post.url === url %} postlist-item-active{% endif %}">
                <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
                <time class="postlist-date" datetime="{{ post.date }}">{{ post.date | formatDate }}</time>
            </li>
            {% endfor %}
        </ol>
    </div>


</div>